.earphoneheading{
    margin:auto;
    padding: 15vb 15vh 15vb 15vh;
    background-color: black;
    text-align: center;
    font-size: 35px;
    font-family: "Manrope",sans-serif ;
    font-weight: bold;
    color: white;  
}